
p, li, .flexbox-container{
  font-size: 19px;
  font-family: "Roboto Condensed";
  font-weight: 400;
}

li{
  display: list-item;
}

ul{
  padding-top: 0;
}

.icon{
  height: 1.4em;
  width: 1.4em;
  padding-bottom: 1px;
}

.icon-label{
  display: inline-block;
  font-size: 2.5em;
}

.flexbox-container{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.heading-box{
  padding-top: 25px;
  height: auto;
  width: 100%;
  border-top: thin solid LightGray;
}

.box{
  max-width: 100%;
  width: 100%;
  padding: 10px 0px 10px 0px;
}

/* About */
.about-heading{
  order: 0;
  max-width: 100%;
}


.desc{
  max-width: 100%;
  width: 100%;
  order: 1;
}
.contact{
  max-width: 100%;
  width: 100%;
  order: 2;
}

/* React */

.react-heading{
  order: 10;
}

.react-player-wrapper{
  order: 12;
  width: 50%;
}

.player-wrapper{
  height: auto;
  display: inline-block;
  position: relative;
}
.portrait-player-wrapper:after {
  padding-top: 177.77%;
  /* 9:16 ratio */
  display: block;
  content: '';
}
.landscape-player-wrapper{
  padding-top: 56.25%;
  /* 9:16 ratio */
  display: block;
  content: '';
}
#reactplayer, #groupquizplayer, #senpaibotplayer{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* fill parent */
  background-color: gray;
  /* let's see it! */
  color: gray;
}

.react-description{
  order: 11;
  width: 50%;
  padding-left: 5px;
}


badge{
  white-space: nowrap;
  border-color: black;
  padding: 0px 10px 0px 10px;
  height: 100%;
  color: white;
  min-width: 50px;
  background-color: #343838;
  border-radius: 0.2em;
}

badges{
  line-height: 155%;
}

h3{
  padding-top: 0;
  padding-bottom: 1%;
}

.programming{
  order: 11;
  width: 100%;
}
.other{
  order: 12;
  width: 100%;
}

/*Portfolio*/
.senpaibot-heading{
  order: 20;
  /*overrides heading-box.
  compensating for the italic text below.*/
}

.senpaibot-desc{
  order: 21;
  width: 100%;
}

.senpaibot-player-wrapper{
  order: 22;
}



.gq-logo{
  width: 5em;
  height: 1.2em;
  text-decoration: underline;
}

/*Education*/
.groupquiz-heading{
  order: 30;
}

.groupquiz-desc{
  order: 31;
}

.groupquiz-player-wrapper{
  order: 32;
}



@media only screen and (min-width: 500px){

  /*About*/
  /*
  .desc{
    width: 50%;
  }

  .contact{
    width: 50%;
  }
  */

  /*Skills*/
  .programming{
    width: 50%;
  }
  .other{
    padding-left: 1%;
    width: 50%;
  }

  .box{
    padding-right: 1%;
  }

}

@media only screen and (min-width: 600px){
  .react-player-wrapper{
    width: 40%;
  }
  .react-description{
    width: 60%;
  }
}

@media only screen and (min-width: 700px){
  .react-player-wrapper{
    width: 30%;
  }
  .react-description{
    width: 70%;
  }
}

@media only screen and (min-width: 750px){
  /*Education*/
  .courses{
    width: 50%;
  }
  .alevels{
    width: 50%;
  }

  .react-player-wrapper{
    width: 25%;
  }
  .react-description{
    width: 75%;
  }
}

@media only screen and (min-width: 990px){
  .player-wrapper{
    height: auto;
    display: inline-block;
    position: relative;
  }
  #reactplayer, #groupquizplayer, #senpaibotplayer{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* fill parent */
    background-color: gray;
    /* let's see it! */
    color: gray;
  }
}

footer{
  font-size:0.6em;
  bottom:0;
  text-align: right;
}
